.auth-container {
    background-color: #4e4b4b;
    border-radius: 8px;
    padding: 30px;
    text-align: center;
    margin: 400px auto; 
    max-width: 450px; 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.auth-container p {
    margin-bottom: 15px;
    font-size: 1.5em; 
    color: #ffffff;
}

.auth-container button {
    margin: 5px;
    padding: 12px 20px; 
    border: none;
    border-radius: 5px;
    background-color: #252121;
    color: rgb(253, 253, 253);
    cursor: pointer;
    transition: background-color 0.3s;
}

.auth-container button:hover {
    background-color: #1c72d4;
}
